*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
	font-family:cursive;
}

body{
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.box{
margin:25vh auto 0 auto;
width:25vw;
height:auto;
padding:10px;
background-color:#ffff;
border-radius:5px;
box-shadow:10px 10px 10px rgba(0,0,0,.4);

}
h2{
text-align:center;
color:#4b93e8;
}

.input-box{

margin-top:40px;
font-size:1em;
width:100%;
height:2em;
outline:none;
padding:0 10px;
border-radius:10px;
border:2px solid #eeaeca;
box-shadow:5px 5px 5px rgba(238,174,202,.4);
}
input{
width:90%;
height:100%;
outline:none;
border:none;
}
#clear{
	color:#eeaeca;
	border:none;
	background-color:white;
	outline:none;
	cursor:pointer;
}
.hide{
	display:none;
}
#btn{
margin-top:40px;
margin-bottom:40px;
background-color:#eeaeca;
outline:none;
padding:5px;
border-radius:10px;
border:0px;
font-size:1em;
width:100%;
box-shadow:5px 5px 5px rgba(238,174,202,.4);
}

#result{
color:#4b93e8;
font-size:1em;
text-align:center;
}




